* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #d0ce3e, #bc8122);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input[type="text"] {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    background-color: #ff9f43;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff7b00;
}